body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* headings */

.big-heading {
  /* font-family: 'Montserrat-Black', sans-serif; */
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* container */
.container-fluid {
  padding: 7% 15%;
}

/* section */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* navigation */
.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* download-button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title-image */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
}

/* feature-section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icons:hover {
  color: #ff4c68;
}

/* testimonial-section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  padding: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing-section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-box {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);  
  }
}

/* footer-section */

.footer-about{
  padding-top: 2%;
}

.footer-icons {
  margin: 10px 20px;
}
